<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ metadata.sitename }}</title>
	<meta name="description" content="Think Hackathon for designers and creatives. We cram the most talented, creative people in all of Louisiana in a room with a ton of caffeine for 24 hours. In that time, Designers, Developers, Copyrighters and Marketers will produce a full brand and web presence for the lucky non-profit chosen.">
	<meta property="og:title" content="Louisiana Designathon">
	<meta property="og:image" content="http://louisianadesign.com/_includes/assets/img/thumbnail.jpg">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://louisianadesign.com">
	<meta property="og:description" content="Think Hackathon for designers and creatives. We cram the most talented, creative people in all of Louisiana in a room with a ton of caffeine for 24 hours. In that time, Designers, Developers, Copyrighters and Marketers will produce a full brand and web presence for the lucky non-profit chosen.">

	<link rel="stylesheet preload" type="text/css" href="/_includes/assets/css/styles.css">
</head>
